Repository koajs/multer: changes, and which lint-staged commands are due for each by the changed paths.
All: xo --fix, remark . -qfo, fixpack

feat: support multer esm versions via fix-esm package (https://gist.github.com/joepie91/bca2fda868c1e8b2c2caf76af7dfcad3)
  README.md
  index.js
  package.json
  test/_util.js
  test/disk-storage.js
  test/error-handling.js
  test/expected-files.js
  test/fields.js
  test/file-filter.js
  test/file-ordering.js
  test/functionality.js
  test/issue-232.js
  test/koa-integration.js
  test/memory-storage.js
  test/reuse-middleware.js
  test/select-field.js
  test/unicode.js
Due: xo --fix, remark . -qfo, fixpack

3.0.1
  package.json
Due: fixpack

fix: version lock fix-esm to 1.0.1
  package.json
Due: fixpack

3.0.2
  package.json
Due: fixpack

Replace travis with github actions
  .github/workflows/unit-tests.yaml
  .travis.yml
  README.md
  package.json
  test/disk-storage.js
  test/error-handling.js
  test/expected-files.js
  test/fields.js
  test/file-filter.js
  test/file-ordering.js
  test/functionality.js
  test/issue-232.js
  test/koa-integration.js
  test/memory-storage.js
  test/reuse-middleware.js
  test/select-field.js
  test/unicode.js
  yarn.lock
Due: xo --fix, remark . -qfo, fixpack

Added missing yarn install
  .github/workflows/unit-tests.yaml
Due: none

Fixed badge url
  README.md
Due: remark . -qfo

Replace travis with github actions (#49)
  .github/workflows/unit-tests.yaml
  .travis.yml
  README.md
  package.json
  test/disk-storage.js
  test/error-handling.js
  test/expected-files.js
  test/fields.js
  test/file-filter.js
  test/file-ordering.js
  test/functionality.js
  test/issue-232.js
  test/koa-integration.js
  test/memory-storage.js
  test/reuse-middleware.js
  test/select-field.js
  test/unicode.js
  yarn.lock
Due: xo --fix, remark . -qfo, fixpack

chore: remove yarn lockfile
  .gitignore
  yarn.lock
Due: none

chore: remove yarn
  .github/workflows/unit-tests.yaml
Due: none

remove fix-esm
  index.js
  package.json
Due: xo --fix, fixpack

add as dev dep
  package.json
Due: fixpack

chore: remove fix-esm
  index.js
  package.json
Due: xo --fix, fixpack

Remove fix-esm (#53)
  index.js
  package.json
Due: xo --fix, fixpack

chore: remove fix-esm from test and downgrade fs-temp to v1
  index.js
  package.json
  test/disk-storage.js
  test/functionality.js
  test/issue-232.js
  test/unicode.js
Due: xo --fix, fixpack

3.1.0
  package.json
Due: fixpack

Update dependencies + Migrate tests and code from callback to async/await style + Support Node.js v18+
  .github/workflows/unit-tests.yaml
  package.json
  test/_util.js
  test/disk-storage.js
  test/error-handling.js
  test/expected-files.js
  test/fields.js
  test/file-filter.js
  test/file-ordering.js
  test/functionality.js
  test/issue-232.js
  test/koa-integration.js
  test/memory-storage.js
  test/reuse-middleware.js
  test/select-field.js
  test/unicode.js
Due: xo --fix, fixpack

chore: add koa to peerDeps
  package.json
Due: fixpack

Update dependencies + Migrate tests and code from callback to async/await style + Support Koa v3 + Support Node.js v18+ (#59)
  .github/workflows/unit-tests.yaml
  package.json
  test/_util.js
  test/disk-storage.js
  test/error-handling.js
  test/expected-files.js
  test/fields.js
  test/file-filter.js
  test/file-ordering.js
  test/functionality.js
  test/issue-232.js
  test/koa-integration.js
  test/memory-storage.js
  test/reuse-middleware.js
  test/select-field.js
  test/unicode.js
Due: xo --fix, fixpack

v4.0.0
  package.json
Due: fixpack

Path conditions:
  xo --fix: any of: *.js
  remark . -qfo: any of: *.md
  fixpack: any of: package.json
